body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #74b9ff, #007bff);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    color: #007bff;
}

input[type="text"] {
    flex-grow: 1; /* Faz o input ocupar o espaço restante */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.botaoAdicionar {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botaoAdicionar:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tarefa-concluida {
    text-decoration: line-through;
    color: #aaa;
    background-color: #e9ecef;
}

.botao-excluir {
    background: none;
    border: none;
    color: #ff6b6b;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.botao-excluir:hover {
    color: #ff4757;
}

.adicionarTarefa{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}